@media screen and (min-width: 992px) {
  .education {
    width: 100vw;
    height: 100vh;
    padding-top: 3.125rem;
  }
  .educationContainer {
    width: 78%;
    height: 100%;
    margin-left: 11vw;
  }
  .educationTitle {
    font-size: 1.75rem;
    font-weight: 500;
    font-family: Poppins;
    color: deeppink;
  }
  .subEducationTitle {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.4;
    font-family: Poppins;
    color: #000;
    text-transform: uppercase;
  }
  .quanliCerti {
    width: 100%;
    height: 60%;
    margin-top: 4.625rem;
  }
  .quanlicerliBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    height: 30%;
    font-size: 1.25rem;
  }
  .subject,
  .subjectCompany,
  .cerLink {
    text-align: left;
    width: 30%vw;
  }
  /* education animation CSS */
  .yearQ1 {
    opacity: 0;
    width: 20%;
    color: #828282;
    margin-left: -1.25rem;
    transition: all 1.5s ease-in-out;
  }
  .subject1 {
    opacity: 0;
    width: 35%;
    color: black;
    transition: all 1.5s ease-in-out;
  }
  .institute1 {
    opacity: 0;
    width: 35%;
    margin-right: -1.25rem;
    transition: all 1.5s ease-in-out;
  }
  .yearQ2 {
    opacity: 0;
    width: 20%;
    color: #828282;
    margin-left: -1.25rem;
    transition: all 2.5s ease-in-out;
  }
  .subject2 {
    opacity: 0;
    width: 35%;
    color: black;
    transition: all 2.5s ease-in-out;
  }
  .institute2 {
    opacity: 0;
    width: 35%;
    margin-right: -1.25rem;
    transition: all 2.5s ease-in-out;
  }
  .yearQ3 {
    opacity: 0;
    width: 20%;
    color: #828282;
    margin-left: -1.25rem;
    transition: all 3.5s ease-in-out;
  }
  .subjectCompany1 {
    opacity: 0;
    width: 35%;
    color: black;
    transition: all 3.5s ease-in-out;
  }
  .cerLink1 {
    opacity: 0;
    width: 35%;
    margin-right: -1.25rem;
    transition: all 3.5s ease-in-out;
    word-wrap: break-word;
  }
  .yearQ4 {
    opacity: 0;
    width: 20%;
    color: #828282;
    margin-left: -1.25rem;
    transition: all 4s ease-in-out;
  }
  .subjectCompany2 {
    opacity: 0;
    width: 35%;
    color: black;
    transition: all 4s ease-in-out;
  }
  .cerLink2 {
    opacity: 0;
    width: 35%;
    margin-right: -1.25rem;
    transition: all 4s ease-in-out;
    word-wrap: break-word;
  }
  .institute,
  .cerLink {
    width: 50%;
    color: blue;
    word-wrap: break-word;
  }
}
@media screen and (max-width: 992px) {
  .education {
    width: 78vw;
    padding-top: 3.125rem;
  }
  .educationContainer {
    width: 78%;
    margin-left: 11vw;
  }
  .educationTitle {
    font-size: 1.75rem;
    font-weight: 500;
    font-family: Poppins;
    color: deeppink;
  }
  .subEducationTitle {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.4;
    font-family: Poppins;
    color: #000;
    text-transform: uppercase;
  }
  .quanliCerti {
    width: 100%;
    margin-top: 4.625rem;
  }
  .quanlicerliBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    font-size: 1.25rem;
  }
  .subject,
  .subjectCompany,
  .cerLink {
    text-align: left;
    width: 100%;
  }
  /* education animation CSS */
  .yearQ1 {
    opacity: 1;
    width: 100%;
    color: #828282;
  }
  .subject1 {
    opacity: 1;
    width: 100%;
    color: black;
    margin-left: 10%;
  }
  .institute1 {
    opacity: 1;
    width: 100%;
  }
  .yearQ2 {
    width: 100%;
    color: #828282;
  }
  .subject2 {
    width: 100%;
    color: black;
  }
  .institute2 {
    width: 100%;
  }
  .yearQ3 {
    width: 100%;
    color: #828282;
  }
  .subjectCompany1 {
    width: 100%;
    color: black;
  }
  .cerLink1 {
    width: 100%;
    word-wrap: break-word;
  }
  .yearQ4 {
    width: 100%;
    color: #828282;
  }
  .subjectCompany2 {
    width: 100%;
    color: black;
  }
  .cerLink2 {
    width: 100%;
    word-wrap: break-word;
  }
  .institute,
  .cerLink {
    width: 100%;
    color: blue;
    word-wrap: break-word;
  }
}
